.recipeDesc{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #007bff;
}

.image-parent {
    max-width: 80px;
  }