<div class="head" style="display: inline-block; width: 100%">
    <div class="row" style="float: left;">
        <div class="col-12">
            <h4>Recipes</h4>
        </div>
    </div>

    <div class="row" style="float: right;">
        <div class="col-12">
            <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
        </div>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-12">
        <ul class="list-group">
            <app-recipe-item *ngFor="let recipeElement of recipes; let i = index" 
                                [recipe]="recipeElement"
                                [index]="i"></app-recipe-item>
        </ul>
    </div>
</div>
<hr>
